/* 
nav {
    margin-bottom: 100px;
} */

.logo {
    width: 180px;
}

.custom-background {
    background-image: url(../images/imageedit_1_8125140389.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.custom-nav {
    font-size: larger;
}

#my-table{
  overflow-y:scroll;
  height:500px;
  display:block;
}

#my-table th {
  text-align: center;
}

#cust-submit{
  width: 100%;
  flex-direction: row-reverse; 
  margin-bottom: 20px;
}

.my-button {
  text-decoration: none;
    height: 50px;
    border-radius: 7px;
    background-color: #328c4b;
    border: none;
    color:white;
}

button:focus { 
    outline: thin;
}

.my-button:hover {
    background-color: #5c0000;
    transition: 0.3s;
}

.card-background {
    background-color: #631818b5;
}

.cards {
    color: white;
}

.cards .col-sm-6 {
    margin-bottom: 30px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }

  .footer {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #b1dea0;
  }

  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    padding: 60px 15px 0;
  }
  
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }